<div class="label--container">
  <div class="label--title">
    <%= item.Name %>
  </div>
</div>

<div class="label--price-container">
  <div class="label--price-currency">Rp</div>
  <div class="label--price"><%= item.Price %><span class="label--unit"> / <%= item.UnitName %></span></div>
</div>

<% if item.StartPromotionPeriod != "" && item.EndPromotionPeriod != "" { %>
  <div class="label--container">
    <div class="label--sale-label">
      Periode Promosi : <%= item.StartPromotionPeriod %> s.d. <%= item.EndPromotionPeriod %>
    </div>
  </div>
<% } %>

<div class="label--container label--barcode-container">
  <div class="label--barcode">
    <% if item.BarcodeImage != "" { %>
      <img src="data:image/png;base64,<%= item.BarcodeImage %>"" />
    <% } %>
  </div>

  <% if item.NormalPrice != "" { %>
    <div class="label--sale-container">
      <div class="label--sale-label">Harga Normal</div>
      <div class="label--sale-price">Rp <%= item.NormalPrice %> </div>
    </div>
  <% } %>
</div>

<div class="label--container label--footer">
  <div class="label--footer-barcode">
    <% if item.Barcode != "" { %>
      <div class="label--barcode-text"><%= item.Barcode %></div>
    <% } %>
    <div class="label--barcode-text"><%= item.Code %></div>
  </div>

  <div class="label--date"><%= item.PrintDate %></div>
</div>