<%: func PriceTagHTML(param PriceTagPdfParam, buffer *bytes.Buffer) %>
<%~"base.html" %> 
<%@ body { %> 
  <div class="container">
    <% for _, item := range param.Items { %>
      <% if param.IsYellowPaper { %>
        <div class="label">
          <%+ "content.html" %>
        </div>
      <% } else { %>
        <% if item.HasPromotion { %>
          <div class="label sale">
            <%+ "content.html" %>
          </div>
        <% } else { %>
          <div class="label">
            <%+ "content.html" %>
          </div>
        <% } %>
      <% } %>
    <% } %>
  </div>
<% } %>