<div class="container mb-2">
  <% if !param.NotRequirePatientInfoTitle { %>
    <div class="item-title mb-4">
      <h3>Identitas Pasien</h3>
      <span class="fs-regular is-muted">/</span>
      <span class="fs-regular is-muted">Patient Identity</span>
    </div>
  <% } %>

  <div class="row">
    <div class="col-6">
      <div class="item-title">
        <p>Nomor Anggota Pasien</p>
        <span class="fs-sm is-muted">/</span>
        <span class="fs-sm is-muted">Patient ID Number</span>
      </div>
    </div>
    <div class="col-6">
      <div class="answer-box"><%= param.PatientId %></div>
    </div>
  </div>

  <div class="row">
    <div class="col-6">
      <div class="item-title">
        <p>Nomor Identitas</p>
        <span class="fs-sm is-muted">/</span>
        <span class="fs-sm is-muted">ID Card Number (KTP/Passport)</span>
      </div>
    </div>
    <div class="col-6">
      <div class="answer-box"><%= param.IdentityNumber %></div>
    </div>
  </div>

  <div class="row">
    <div class="col-6">
      <div class="item-title">
        <p>Nama Lengkap</p>
        <span class="fs-sm is-muted">/</span>
        <span class="fs-sm is-muted">Full Name</span>
      </div>
    </div>
    <div class="col-6">
      <div class="answer-box"><%= param.FullName %></div>
    </div>
  </div>

  <div class="row">
    <div class="col-6">
      <div class="item-title">
        <p>Tanggal Lahir</p>
        <span class="fs-sm is-muted">/</span>
        <span class="fs-sm is-muted">Date of Birth</span>
      </div>
    </div>
    <div class="col-6">
      <div class="answer-box"><%= param.DateOfBirth %></div>
    </div>
  </div>

  <% if param.RenderPatientGender { %>
    <div class="row">
      <div class="col-6">
        <div class="item-title">
          <p>Jenis Kelamin</p>
          <span class="fs-sm is-muted">/</span>
          <span class="fs-sm is-muted">Gender</span>
        </div>
      </div>
      <div class="col-6">
        <div class="answer-box"><%= param.Gender %></div>
      </div>
    </div>
  <% } %>

  <% if param.RenderPatientHomeAddress { %>
    <div class="row">
      <div class="col-6">
        <div class="item-title">
          <p>Alamat Rumah</p>
          <span class="fs-sm is-muted">/</span>
          <span class="fs-sm is-muted">Home Address</span>
        </div>
      </div>
      <div class="col-6">
        <div class="answer-box"><%= param.HomeAddress %></div>
      </div>
    </div>
  <% } %>

  <% if param.RenderPatientPhoneNumber { %>
    <div class="row">
      <div class="col-6">
        <div class="item-title">
          <p>Nomor Telepon</p>
          <span class="fs-sm is-muted">/</span>
          <span class="fs-sm is-muted">Phone Number</span>
        </div>
      </div>
      <div class="col-6">
        <div class="answer-box"><%= param.PhoneNumber %></div>
      </div>
    </div>
  <% } %>
</div>
