<div class="container mb-2">
  <div class="item-title mb-4">
    <h3>Data Diri Wali</h3>
    <span class="fs-regular is-muted">/</span>
    <span class="fs-regular is-muted">Guardian Identity</span>
  </div>

  <div class="row">
    <div class="col-6">
      <div class="item-title">
        <p>Nama Lengkap</p>
        <span class="fs-sm is-muted">/</span>
        <span class="fs-sm is-muted">Full Name</span>
      </div>
    </div>
    <div class="col-6">
      <div class="answer-box"><%= param.GuardianFullName %></div>
    </div>
  </div>

  <div class="row">
    <div class="col-6">
      <div class="item-title">
        <p>Tanggal Lahir</p>
        <span class="fs-sm is-muted">/</span>
        <span class="fs-sm is-muted">Date of Birth</span>
      </div>
    </div>
    <div class="col-6">
      <div class="answer-box"><%= param.GuardianDateOfBirth %></div>
    </div>
  </div>

  <div class="row">
    <div class="col-6">
      <div class="item-title">
        <p>Jenis Kelamin</p>
        <span class="fs-sm is-muted">/</span>
        <span class="fs-sm is-muted">Gender</span>
      </div>
    </div>
    <div class="col-6">
      <div class="answer-box"><%= param.GuardianGender %></div>
    </div>
  </div>

  <div class="row">
    <div class="col-6">
      <div class="item-title">
        <p>Alamat Rumah</p>
        <span class="fs-sm is-muted">/</span>
        <span class="fs-sm is-muted">Home Address</span>
      </div>
    </div>
    <div class="col-6">
      <div class="answer-box"><%= param.GuardianHomeAddress %></div>
    </div>
  </div>

  <div class="row">
    <div class="col-6">
      <div class="item-title">
        <p>Nomor Telepon</p>
        <span class="fs-sm is-muted">/</span>
        <span class="fs-sm is-muted">Phone Number</span>
      </div>
    </div>
    <div class="col-6">
      <div class="answer-box"><%= param.GuardianPhoneNumber %></div>
    </div>
  </div>
</div>
