<%: func DoctorMemoHTML(param DoctorMemoParam, buffer *bytes.Buffer) %> 
<%~"base.html" %> 
<%@ body { %>
  <%+ "base_header.html" %>

  <main class="main">
    <%+ "base_patient_info.html" %>

    <div class="container">
      <div class="item-title">
        <h3>Catatan Dokter</h3>
        <span class="fs-regular is-muted">/</span>
        <span class="fs-regular is-muted">Doctor's Note</span>
      </div>
    </div>

    <div class="container mb-2">
      <div id="note" class="w-100 rounded border-2 border p-1 h-200">
        <% if param.Note != "" { %> 
          <%== param.Note %> 
        <% }%>
      </div>
    </div>

    <div class="container mb-2">
      <div class="item-title mb-4">
        <span>Demikian Informasi dari kami, semoga dapat menjadi bahan pertimbangan 
          <span class="fs-sm is-muted">/</span>
          <span class="fs-sm is-muted">Appreciate that this recommendation shall be taken into consideration.</span>
        </span>
      </div>
    </div>

    <div class="container">
      <div class="signature">
        <div class="signature__container">
          <div class="signature__title">
            Dokter Pemeriksa
            <div class="is-muted">Examining Doctor</div>
          </div>

          <div class="signature__box">
            <div class="signature__name"></div>
          </div>
        </div>
      </div>
    </div>

    <%# import base_qr_code.html here %>
  </main>

  <%+ "base_footer.html" %>
<% } %>
